/*align all the text*/
header, main, footer {
  text-align: center;
}

header {
  background: #697173;
}
/*add a background image to the entire main section*/
main {
  background-image: url("images/background.jpg");
}

h1 {
  font-family: Candara;
  font-size: 60px;
  color: antiquewhite;
}

section {
  padding: 50px;
}

footer {
  margin: 10px;
  background: #697173;
}
/*make the image smaller*/
.my-picture {
  height: 40%;
  width: 40%;
}
/*Change the color of a link when the mouse is over it*/
a:hover {
  color: #FF00FF
}
